body {
    margin: 0;
    font-family:"open sans", sans-serif;
    /*background-color: #027495;*/
    background-color: #005D7F;
}

/*animation for welcome section */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* animation for navigation bar */
@keyframes slideIn{
    from{
        top: -100%;
    }

    to{
        top: 0;
    }
}

@-webkit-keyframes slideIn{
    from{
        top: -100%;
    }

    to{
        top: 0;
    }
}

@-moz-keyframes slideIn{
    from{
        top: -100%;
    }

    to{
        top: 0;
    }
}

@-o-keyframes slideIn{
    from{
        top: -100%;
    }

    to{
        top: 0;
    }
}

/*Navigation Bar*/
#navigation{
    background-color: #051f34; /*fall back color*/
    background-color: rgb(5,31,52, .7);
    text-align: right;
    position: fixed;
    width: 100vw;
    padding-top: .8rem;
    padding-bottom: .8rem;
    animation-duration: 3s;
    -webkit-animation: slideIn 2s;
    -moz-animation: slideIn 2s;
    -o-animation: slideIn 2s;
    animation-name: slideIn 2s;
    z-index: 2;
    -webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -o-transition: top 1s ease;
    transition: top 1s ease;
}

.navbar{
    position: relative;
    color: #f2f2f2;
    padding: .8rem 1.6rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.endNav{
    margin-right: 3vw;
}

.navbar:hover {
  color: #FF8400;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn{
    border: none;
    outline: none;
    color: #f2f5f5;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content{
    margin-top: .8rem;
    display: block;
    opacity: 0;
    overflow: hidden;
    top: 100%;
    position: absolute;
    width: 200px;
    font-size: .9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.dropdown-content a {
    float: none;
    color: #f2f2f2;
    background: #051f34; /*fall back color*/
    background: rgb(5,31,52, .7);
    padding: .8rem 1.6rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover, .dropdown:hover .dropbtn {
    color: #FF8400;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
}
/*Welcome Section */
#background{
    width: 100%;
    height: 100vh;
    background-image: url('wavesMedium.jpg');
    background-repeat: no-repeat;
    background-position: right 100%;
    background-size: cover;
    background-attachment: fixed;
    animation-duration: 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    animation-name: fadeIn;
    margin-bottom: 0;
}

#welcome{
    padding-top: 12%;
}

.welcomeText{
    margin-left: 15%;
    text-align: left;
    color: #f2f2f2;
}

.welcomeText.name{
    font-size: 6vw;
}

.title{
    font-size: 4vw;
    color: #f4f5f5;
    font-weight: normal;
}

.welcomeText.position{
    font-size: 3vw;
}

.email{
    font-size: 2vw;
    padding-bottom: 10vh;
}

/*Rest of the sections */
#technologies, #about, #projects{
    text-align: center;
}

.techTitle{
    color: #027495;
    font-size: 4vw;
    font-weight: normal;
}
/*Projects Section*/
#projects{
    margin-bottom: auto;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 20px;
    padding-bottom: 10vh;
    /*background-color: #027495;*/
    /*background-color: #044A64;*/
    /*background-color: #35637F;*/
    background: linear-gradient(180deg, #005D7F, #4CCFFF);
}

.projectsTitle{
    font-weight: normal;
}

.tileHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.tile{
    width: 320px;
    height: 256px;
    margin: 2vh;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.tileOverlay{
    /*background-color: #FF8400;*/
    background-color: #051f34;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    -moz-box-transition: .5s ease;
    -webkit-box-transition: .5s ease;
    -ms-box-transition: .5s ease;
    -o-box-transition: .5s ease;
    transition: .5s ease;
}

.thumbnail{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: .35;
    -moz-box-transition: .5s ease;
    -webkit-box-transition: .5s ease;
    -ms-box-transition: .5s ease;
    -o-box-transition: .5s ease;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
    color: white;
    /*background-color: #B25D00;*/
    background-color: #051f34;
    /*background-color: #051f34; /*fall back solor*/
    /*background-color: rgb(5,31,52, .7);*/
    -moz-box-transition: .5s ease;
    -webkit-box-transition: .5s ease;
    -ms-box-transition: .5s ease;
    -o-box-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    width: inherit;
    height: inherit;
    top: -5%;
    position: absolute;
    text-align: center;
}

/*Text sizes inside project tiles*/
.tileTitle{
    font-size: 1.1rem;
    margin-bottom: 0;
}

.projectText{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: .85rem;
}

.btn {
    border-radius: 5px;
    border: 2px solid #FF8400;
    color: white;
    text-decoration: none;
    top: 0;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    -moz-box-transition: all ease .8s;
    -webkit-box-transition: all ease .8s;
    -ms-box-transition: all ease .8s;
    -o-box-transition: all ease .8s;
    transition: all ease .8s;
}

/*launch button fill animation*/
.btn:hover{
    -moz-box-box-shadow: inset 100px 0 0 0 #FF8400;
    -webkit-box-box-shadow: inset 100px 0 0 0 #FF8400;
    -ms-box-box-shadow: inset 100px 0 0 0 #FF8400;
    -o-box-box-shadow: inset 100px 0 0 0 #FF8400;
    box-shadow: inset 100px 0 0 0 #FF8400;
}

/*tile hover effects*/
.tile:hover .thumbnail{
    opacity: 0.2;
}

.tile:hover .description{
    opacity: .9;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.tile:hover .tileOverlay{
    opacity: 0;
}

/*Techonologies Section*/
#technologies{
    background-color: #bad6db;
    padding-top: 20px;
    padding-bottom: 10vh;
    margin-bottom: 0;
    margin-top: 0;
}

.techIcon{
    font-size: 150px;
}

.iconJS{
    width: 150px;
}

/*About Me Section*/
#about{
    /*background-color: #027495;*/
    /*background-color: #044A64;*/
    background: linear-gradient(#005D7F, #35637F);
    padding-top: 20px;
}

.profile{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.profilePhoto{
    display: block;
    border-radius: 50px;
    width: 240px;
    height: 260px;
}

.profileText{
    display: block;
    text-align: left;
    width: 30%;
    color: #f4f5f5;
    font-size: 1.4rem;
    margin-left: 5%;
}

.contact{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.githubIcon{
    font-size: 100px;
    padding: 25px;
}

.iconSocial{
    width: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

footer{
    text-align: center;
    color: white;
}
/*Small Screen Lower Res Photo*/
@media only screen and (max-width: 400px){
    #background{
        height: 100%;
        background-attachment: local;
    }

    .tile{
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}

@media only screen and (max-width: 575px){
    #background, #projects, #technologies, #about{
        width: 320px;
        margin: 0;
    }

    .navbar{
        padding: .4rem .8rem;
    }

    .dropdown-content{
        left: -13%;
    }

    #welcome{
        padding-top: 30%;
        padding-left: 10%;
    }

    .tileTitle{
        margin-top: 5%;
        font-size: .9rem;
    }

    .tileOverlay{
        opacity: 0;
    }

    .projectText{
        font-size: .7rem;
        padding-left: 10%;
        padding-right: 10%;
    }

    .thumbnail{
        opacity: .8;
    }

    .profileText{
        padding-left: 3%;
    }

    .description{
        opacity: .9;
    }

    .githubIcon{
        margin: 5px;
    }

    .iconSocial{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 725px){
    #navigation{
        text-align: center;
    }
    /*.navbar{
        font-size: 1.5rem;
    }*/
    .endNav{
        margin-right: 0;
    }

    #background {
        background-image: url("wavesMobile.jpg");
        background-size: 100vw 100vh;
    }

    .welcomeText{
        margin-left: 10%;
    }

    .welcomeText.name, .title, .techTitle{
        font-size: 8vw;
        padding-top: 10%;
    }

    .welcomeText.position{
        font-size: 4vw;
    }

    #background, #projects, #technologies, #about {
        width: 100%;
    }

    #projects{
        padding-left: 0;
        padding-right: 0;
    }

    .profile{
        display: inline;
    }

    .profileText{
        width: 90%;
        font-size: 1rem;
    }

    .profilePhoto{
        display: inline-block;
    }
}
