#background {
    width: 100vw;
    height: 100vh;
    background-image: url("https://lh3.googleusercontent.com/Oo5142D6TucGXzxbO-kGlExxCVKMCKcAgq0JKAJRaKxUiVvv7koBhXZXNkeOVNGeJ6T951HvU7-DQ3F5U2m_yyQ84AYPSVRuLrKNLznsn0alAeAusnjeYSmiDIiE3Ny59VGd5vVR1Q=w2400");
    background-repeat: no-repeat;
    background-position: right 100%;
    background-size: cover;
    background-attachment: fixed;
}

#navigation {
    font-family: cursive;
    text-align: right;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 400px) {
    #background {
        background-image: url("https://lh3.googleusercontent.com/vGyrvnNiiGXGpotxS6pzSHsyIBOAodcy0R23rRsPmWykkKtwhBHuU225Pmkd3TXX5UswWrWUfeP2n60XqBT5DWHnIYQ1FWZk4HSiceyxmbt-3rkYV-8Gh10ss1DUAFrel5rA37omSA=w2400");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
    }
}
