body {
    margin: 0;
    font-family:"open sans", sans-serif;
    background-color: #027495;
}

/*Navigation Bar*/
#navigation{
    background-color: rgb(5,31,52, .7);
    display: block;
    text-align: right;
    position: fixed;
    width: 100%;
    animation-duration: 3s;
    animation-name: bounceIn;
    z-index: 2;
    padding-right: 20%;
    height: 6.5vh;
}

.navbar{
    position: relative;
    color: #f2f2f2;
    padding: 1vh;
    font-size: 2rem;
    text-decoration: none;
}

#navigation a:hover {
  background-color: #01a9c1;
  color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn{
    border: none;
    outline: none;
    color: #f2f2f2;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content{
    display: none;
    top: 100%;
    position: absolute;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #f2f2f2;
    background: rgb(5,31,52, .7);
    padding: 2px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover, .dropdown:hover .dropbtn {
    background-color: #01a9c1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Welcome Section */
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#background{
    width: 100%;
    height: 100vh;
    background-image: url('waves.jpg');
    background-repeat: no-repeat;
    background-position: right 100%;
    background-size: cover;
    background-attachment: fixed;
    animation-duration: 2s;
    animation-name: bounceIn;
}

#welcome{
    padding-top: 10%;
}

.welcomeText{
    margin-left: 15%;
    text-align: left;
    color: white;
}

.welcomeText.name, .title{
    font-size: 4rem;
}

.welcomeText.position{
    font-size: 3rem;
}

/*Rest of the sections */
#technologies, #about, #projects{
    text-align: center;
}

.title{
    color: white;
}
/*Projects Section*/
#projects{
    padding-left: 10vh;
    padding-right: 10vh;
    height: auto;
    background-color: #027495;
}

.tileHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.tile{
    width: 50vh;
    height: 40vh;
    margin: 2vh;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    text-align: center;
    display: block;
    position: relative;
}

.thumbnail{
    display: block;
    height: 40vh;
    width: 50vh;
    border-radius: 15px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
}

.description{
    color: white;
    transition: .5s ease;
    font-size: .7em;
    opacity: 0;
    width: 90%;
    top: 15%;
    left: 5%;
    position: absolute;
    text-align: center;
}

.btn {
    top: 5%;
    border-radius: 5px;
    color: white;
    background-color: crimson;
    text-decoration: none;
    padding: .5em;
}

.tile:hover .thumbnail{
    opacity: 0.2;
}

.tile:hover .description{
    opacity: 1;
    transform: scale(1.05);
}

#AhriGuide {
    margin-bottom: 10vh;
}

/*Techonologies Section*/
#technologies{
    background-color: #bad6db;
    height: 75vh;
    padding: 5vh;
}

/*About Me Section*/
#about{
    background-color: #027495;
    height: 50vh;
    padding-left: 10vh;
}

i{
    font-size: 150px;
}

footer{
    text-align: right;
    color: white;
}

/*Small Screen Lower Res Photo*/
@media only screen and (max-width: 575px){
    #background, #projects, #technologies, #about{
        width: 575px;
    }
}

@media only screen and (max-width: 725px){
    #background {
        background-image: url("https://lh3.googleusercontent.com/vGyrvnNiiGXGpotxS6pzSHsyIBOAodcy0R23rRsPmWykkKtwhBHuU225Pmkd3TXX5UswWrWUfeP2n60XqBT5DWHnIYQ1FWZk4HSiceyxmbt-3rkYV-8Gh10ss1DUAFrel5rA37omSA=w2400");
    }
    .welcomeText{
        color: black;
    }
    #background, #projects, #technologies, #about {
        width: 100%;
    }
}
